# 0. Введение
Сейчас мы находимся в jupyter-ноутбуке (или ipython-ноутбуке). Это удобная среда для написания кода, проведения экспериментов, изучения данных, построения визуализаций и других нужд, не связанных с написанием production-кода.

Ноутбук состоит из ячеек, каждая из которых может быть либо ячейкой с кодом, либо ячейкой с текстом размеченным и неразмеченным. Текст поддерживает markdown-разметку и формулы в Latex.

Для работы с содержимым ячейки используется режим редактирования (Edit mode, включается нажатием клавиши Enter после выбора ячейки), а для навигации между ячейками искользуется командный режим (Command mode, включается нажатием клавиши Esc). Тип ячейки можно задать в командном режиме либо с помощью горячих клавиш (y to code, m to markdown, r to edit raw text), либо в меню Cell -> Cell type.

После заполнения ячейки нужно нажать Shift + Enter, эта команда обработает содержимое ячейки: проинтерпретирует код или сверстает размеченный текст.

# 1. Устанавка библиотек
`! pip install` - это команда позволит нам установить нужные библиотеки.  
В данном случае, `ipython-sql`,  `prettytable` нужны чтобы легко могли писать `sql` запросы, без каких либо оберток

In [1]:
! pip install ipython-sql prettytable==0.7.2

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable==0.7.2 in /opt/anaconda3/lib/python3.11/site-packages (0.7.2)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/anaconda3/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.11/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

# Включение магической функции `sql`

In [2]:
%load_ext sql
%reload_ext sql

# Подключение к БД
Будем работать с диалектом `SQLite`, `SQLite` -  компактная встраиваемая СУБД, для него не стоить отдельный сервер поднимать, поэтому к нему проще всего подключиться)  
Ниже в картинке указана база данных `Northwind`, представляет простую схему для управления клиентами малого бизнеса, заказами, запасами, закупками, поставщиками, доставкой и сотрудниками  
Что стоит обратить в схеме
* Название таблицы (`Orders`, `Customers`, и так далее)
* Ключ таблицы (`OrderId`, `CustomerId`), заметьте, в некоторых таблицах (`OrderDetails`), 2 основных ключа (`OrderId`, `ProductId`), это значит что запись уникальная по этим колонкам. Примере, в заказе `OrderId` может быть несколько продуктов `ProductId`
* Каждой колонке указан тип данных, пример `nvarchar(20)` означает, что колонка содержит строке не длиннее 20 символов
* Также есть тип колонки `Nullable`, он означает что в записи данная колонка может иметь значение или может не иметь 

Типичные диаграммы называют - ERD диаграммой, https://www.lucidchart.com/pages/ru/erd-diagram

![База данных](Northwind_ERD.png)

In [3]:
%sql sqlite:///northwind.db
%config SqlMagic.style = 'DEFAULT'

# Пример работы с данными
Хотим вывести 10 случайных заказов

In [4]:
%%sql
SELECT 
    * 
FROM orders 
LIMIT 10;

 * sqlite:///northwind.db
Done.

[(10248, 'VINET', 5, '2016-07-04', '2016-08-01', '2016-07-16', 3, 16.75, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', 'Western Europe', '51100', 'France'),
 (10249, 'TOMSP', 6, '2016-07-05', '2016-08-16', '2016-07-10', 1, 22.25, 'Toms Spezialitäten', 'Luisenstr. 48', 'Münster', 'Western Europe', '44087', 'Germany'),
 (10250, 'HANAR', 4, '2016-07-08', '2016-08-05', '2016-07-12', 2, 25, 'Hanari Carnes', 'Rua do Paço, 67', 'Rio de Janeiro', 'South America', '05454-876', 'Brazil'),
 (10251, 'VICTE', 3, '2016-07-08', '2016-08-05', '2016-07-15', 1, 20.25, 'Victuailles en stock', '2, rue du Commerce', 'Lyon', 'Western Europe', '69004', 'France'),
 (10252, 'SUPRD', 4, '2016-07-09', '2016-08-06', '2016-07-11', 2, 36.25, 'Suprêmes délices', 'Boulevard Tirou, 255', 'Charleroi', 'Western Europe', 'B-6000', 'Belgium'),
 (10253, 'HANAR', 3, '2016-07-10', '2016-07-24', '2016-07-16', 2, 35.5, 'Hanari Carnes', 'Rua do Paço, 67', 'Rio de Janeiro', 'South America', '05454-876', 'Brazil'),
 (10254, 'CHOPS', 5, '2016-07-11', '2016-08-08', '2016-07-23', 2, 24.25, 'Chop-suey Chinese', 'Hauptstr. 31', 'Bern', 'Western Europe', '3012', 'Switzerland'),
 (10255, 'RICSU', 9, '2016-07-12', '2016-08-09', '2016-07-15', 3, 37.5, 'Richter Supermarkt', 'Starenweg 5', 'Genève', 'Western Europe', '1204', 'Switzerland'),
 (10256, 'WELLI', 3, '2016-07-15', '2016-08-12', '2016-07-17', 2, 16.75, 'Wellington Importadora', 'Rua do Mercado, 12', 'Resende', 'South America', '08737-363', 'Brazil'),
 (10257, 'HILAA', 4, '2016-07-16', '2016-08-13', '2016-07-22', 3, 21.5, 'HILARION-Abastos', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristóbal', 'South America', '5022', 'Venezuela')]

# Полезные ссылки, которые помогут решить ДЗ
Тут все про синтаксис работы `SQLite` - https://www.sqlitetutorial.net/sqlite-functions/
Что понадобится в ДЗ?
* `SELECT`, `FROM` - база
* `LIMIT` - выводит определенное кол-во строк
* `DISTINCT` - выводит уникальные строки по полю
* `ORDER BY` - сортирует строки
* `WHERE` - фильтрация строк
* `GROUP BY`
* `AS` - нужно чтобы переименовать колонку/таблицу
* `MIN`, `MAX`, `SUM`, `AVG`, `COUNT` - группировки (мин, макс, сумма, среднее, кол-во)
* `ROUND(number, 2)` - округляет кол-во цифр после запятой 
* `DATE(date_column, 'start of month')` - приводит дату `2024-01-05` к первому дня месяца `2024-01-01`
* `DATE(date_column, 'start of year')` - приводит дату `2024-01-05` к первому дня года `2024-01-01` 
* `CAST(column AS INT)` - приводит колонку к какому то типу
* `INNER JOIN` `LEFT JOINT` - нужно чтобы соединить по какому то правилу две таблицы

# Задача 0
Нужно вывести топ 5 городов пользователей, которые совершили заказы в 2016 году

In [5]:
%%sql
-- здесь код
SELECT
    DATE(orders.orderDate, 'start of year') AS order_year, -- можно было без этого, но просто хотел показать как работает функция
    customers.city                          AS city,  -- города пользователей
    COUNT(*)                                AS cnt, -- кол-во заказов
    COUNT(DISTINCT orders.customerID)       AS distinct_customer -- кол-во уникальных пользователей
FROM orders
    INNER JOIN customers
        ON customers.customerId = orders.customerId
WHERE orderDate >= '2016-01-01' AND orderDate < '2017-01-01' -- фильтруем даты (2016 год), '2016-01-01' автоматически переведется в тип DATE
GROUP BY 1, 2-- это говорит о том что, нужно группировать по 1, 2 колонке
ORDER BY 3 DESC -- это говорит о том что, нужно сортировать по 3 колонке
LIMIT 5 -- выводим 5 записей

 * sqlite:///northwind.db
Done.

[('2016-01-01', 'London', 89, 6),
 ('2016-01-01', 'México D.F.', 86, 5),
 ('2016-01-01', 'Sao Paulo', 65, 4),
 ('2016-01-01', 'Madrid', 56, 3),
 ('2016-01-01', 'Rio de Janeiro', 53, 3)]

# Каждое задание имеет вес 1 балл

# Задание 1
(Это все один запрос)
* Выведите столбцы (`productId`, `productName`, `unitPrice`) из таблицы `products`
* Переименуйте поле `productName` в `product_name`
* Отсортируйте по ключу `productId`
* Ограничьтесь результатам 10 строк

Ответ:
<img src='result_images/task_1.png' alt='Описание' width='300' height='200'>

In [6]:
%%sql
-- ваш код тут (это просто комментарий)

 * sqlite:///northwind.db
Done.

[]

# Задание 2
Выведите столбцы `CustomerID`, `CompanyName` и `City` из таблицы `Customers` для клиентов, у которых город (`City`) равен `'London'`. Отсортируйте результат по `CompanyName` в алфавитном порядке

Ответ:  
<img src='result_images/task_2.png' alt='Описание' width='300' height='200'>

In [7]:
%%sql
-- ваш код тут

 * sqlite:///northwind.db
Done.

[]

# Задание 3
Выберите все столбцы из таблицы `Products` и отсортируйте товары по цене `UnitPrice` по убыванию. Отобразите только первые 5 записей

Ответ:  
<img src='result_images/task_3.png' alt='Описание' width='800' height='200'>

In [8]:
%%sql
-- ваш код тут

 * sqlite:///northwind.db
Done.

[]

# Задание 4
Подсчитайте, сколько товаров находится в каждой категории `CategoryID` в таблице `Products`. В результате отобразите `CategoryID` и количество товаров в столбце с алиасом (`AS`) `productCnt`, обязательно отсортируйте по `CategoryID`

Ответ:  
<img src='result_images/task_4.png' alt='Описание' width='200' height='300'>

In [9]:
%%sql
-- ваш код тут

 * sqlite:///northwind.db
Done.

[]

# Задание 5
Для каждой категории `CategoryID` из таблицы `Products` найдите минимальную, максимальную и среднюю цену товаров (`UnitPrice`). Выведите `CategoryID` и столбцы с алиасами `minPrice`, `maxPrice`, `avgPrice`. Отсортируйте по полю `CategoryId`, также округлите числа до `2` знаков после запятой, вам поможет функция `ROUND`

Ответ:  
<img src='result_images/task_5.png' alt='Описание' width='400' height='300'>

In [10]:
%%sql
-- ваш код тут

 * sqlite:///northwind.db
Done.

[]

# Задание 6
* Сгруппируйте заказы (Orders) по первому дню месяца, переименуйте расчет в `monthStart` 
* Подсчитайте, сколько заказов было сделано в каждом месяце, переименуйте расчет в `ordersCount`
* Отсортируйте по `monthStart`
* Выведите только первые 10 строк


Ответ:  
<img src='result_images/task_6.png' alt='Описание' width='300' height='500'>

In [11]:
%%sql
-- ваш код тут

 * sqlite:///northwind.db
Done.

[]

# Задание 7
* Аналогично предыдущему, сгруппируйте заказы по первому дню года
* Посчитайте количество заказов в каждом году
* Выведите столбцы `yearStart` и `ordersCount`


Ответ:  
<img src='result_images/task_7.png' alt='Описание' width='300' height='500'>

In [13]:
%%sql
-- ваш код тут

 * sqlite:///northwind.db
Done.

[]

# Задание 8
Выведите `ProductID`, `ProductName`, исходную цену (`UnitPrice`) и цену, приведённую к целому числу (нужно функцию `CAST` применить). Приведенный `UnitPrice` выводите как поле `UnitPriceInt`. Отсортируйте по `ProductName` и ограничьте результат 10 строками.

Ответ:  
<img src='result_images/task_8.png' alt='Описание' width='600' height='500'>

In [14]:
%%sql
-- ваш код тут

 * sqlite:///northwind.db
Done.

[]

# Задание 9
Объедините таблицы `Orders` (псевдоним o, используйте `AS`) и `Customers` (псевдоним c) по полю `CustomerID`, чтобы вывести `OrderID`, `CompanyName` и `OrderDate`, `CustomerId`. Отсортируйте по `CustomerID`. Ограничьте вывод 10 строками.

Ответ:  
<img src='result_images/task_9.png' alt='Описание' width='600' height='600'>

In [15]:
%%sql
-- ваш код тут

 * sqlite:///northwind.db
Done.

[]

# Задание 10
Объедините таблицы `Customers` (псевдоним `c`) и `Orders` (псевдоним `o`), чтобы для каждого города клиентов:  
* Подсчитать количество уникальных клиентов.
* Подсчитать общее число заказов, сделанных клиентами из этого города.
* Выведите столбцы:
    * `City` – город клиента
    * `CustomersCount` – количество уникальных клиентов в этом городе
    * `OrdersCount` – общее количество заказов.
* Отсортируйте результат по убыванию количества заказов и ограничьте вывод 10 строками.

Ответ:  
<img src='result_images/task_10.png' alt='Описание' width='600' height='600'>

In [16]:
%%sql
-- ваш код тут

 * sqlite:///northwind.db
Done.

[]

# Placeholder для мемной картинки